.page__footer {
  width: 100%;
  height: 20vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:$white;
  overflow-x:hidden;
  background-image: url('../images/blob-footer.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}

.footer__socialmedia-container {
  margin-bottom: 5px;
  padding-top:45px;
}

.footer_icon {
  margin: 0 8px;
  font-size: 20px;
  transition: all .6s ease-in-out;
  &:hover {
    transform: scale(1.8);
  }
}

.socialmedia__link {
  text-decoration: none;
  color:$base-color;
  transition: all .6s ease-in-out;
}

.socialmedia__link {
  &:hover {
    color:white;
  }
}

.footer__phrase {
  margin:10px;
}

.footer_copyright {
  margin: 2px;
}

.footer__heart {
  color:$base-color;
}

.scroll-top-link {
  position: fixed;
  bottom:6%;
  right: 2%;
  text-decoration: none;
  color:$base-color;
  font-size: 40px;
  &:hover {
    color:$method-card-title;
  }
}

//media query

@media screen and (max-width: 550px) {
  .page__footer {
    width: 100%;
    height: auto;
    padding-bottom:10px;
    margin-top: 0px;
    background-size: 100% 100%;

    .footer__socialmedia-container {
      margin-bottom: 5px;
      padding-top:70px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .footer_icon {
      margin: 0 6px;
      font-size: 18px;
  }
}
}
