.know-me__reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.know__reviews__title {
  @include title-style($base-color, $title-size);
}

.know__reviews__image {
  max-width: 800px;
  max-height:150px;
  width: 70%;
  margin:20px;
  box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.158);
}


.review1 {
  border-left: 23px solid $blue-light;
}

.review2 {
  border-left: 23px solid $pink-light;
}

.review3 {
  border-left: 23px solid $yellow-light;
}

.review4 {
  border-left: 23px solid $green-light;
}
