.know-me__photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
}

.know-me__photos-title {
  @include title-style($base-color, $title-size);
}

.academy-photos-wrapper {
  margin:20px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: no-wrap;
  width: 80%;
  max-width: 900px;
}

.academy-photo-img {
  width:30%;
  margin:20px;
  padding-top:10px;
  opacity: .8;
}

.photo1 {
  border-top: 23px solid $blue-light;
}

.photo2 {
  border-top: 23px solid $pink-light;
}

.photo3 {
  border-top: 23px solid $yellow-light;
}

//media query

@media screen and (min-width: 320px) and (max-width: 600px) {
  .academy-photos-wrapper {
   flex-direction: column;
   align-items: center;
    width: 80%;
    max-width: 900px;
  }

  .academy-photo-img {
    width:50%;
    margin:12px;
    padding-top:10px;
    opacity: .8;
  }
}

@media screen and (min-width: 320px) and (max-width: 432px) {

}
