.page__main {
  margin:0 30px;
  color:#5f5658;
  text-align: center;
}

.section-prices__title {
  margin:20px 0;
  color:#f36b7f;
  font-size: 20px;
  font-weight: normal;
}

.section-prices__pharagraph {
  text-align: center;
  margin-bottom:20px;
}

.main__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.171);
  border: solid 1px rgba(197, 197, 197, 0.3);
  width:200px;
  height: 250px;
  margin: 20px;
  border-radius: 4px;

  transition-property: top;
  transition-duration: .8;
  transition-timing-function: line;

  &:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 10 10px 10px 0 rgba(0, 0, 0, 0.342);
    animation-name: up-card;
    animation-duration: .5s;
  }
}

@keyframes up-card {
  from {top: 0px; }
  to {top: -15px; }
}

.card1 {
  border-top:23px solid rgba(255, 176, 58, 0.4);;
}

.card2 {
  border-top:23px solid #82b5a5;
}

.card3 {
  border-top:23px solid rgba(243, 107, 127, 0.4);
}

.card4 {
  border-top:23px solid rgba(159, 191, 255, 0.4);;
}

.card__content {
  margin: 10px 0;
}

.card__title {
  margin-top: 40px;
  font-size: 15px;
  font-weight: normal;
  color:black;

}

.card__description {
  margin-top:20px;
  font-size: 12px;

}

.card__price {
  margin: 30px 0;
}

.card__ad-info {
  margin-top:20px;
  font-size: 12px;

}
