@import 'core/settings';
@import 'core/links';
@import 'partials/landing';
@import 'partials/services';


* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
	margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/back.jpg);
}

.header__container {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.logo {
  width: 160px;
  height: 60px;
  margin: 20px;
}

.header__nav {
text-align: center;
}

.header__nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-list__element {
  margin:20px;

}

a:link {
  text-decoration: none;
  color:black;

}
a:visited {
  text-decoration: none;
  color: black;
}

.page__main {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

.header__title {
  font-size: 30px;
}

.main__paragraph {
  width: 350px;
}
.main__image {
  width: 300px;
  height: 250px;
}

.main__wrapper {
background-color: rgb(56, 71, 138);
color:white;
display: flex;
flex-direction: column;
align-items: center;
}

.btn-contact {
  width: 100px;
  border: 1px solid black;
  height: 30px;
  background-color: white;
  font-weight: 400;
  border-radius: 20px;
  margin-top: 40px;
  animation: animation-button 6s;
}

@-webkit-keyframes animation-button {
  from {background-color:white;
  color:black;}
  to {background-color: blueviolet;
  }
}

.page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.social-media-list {
  list-style: none;
  display: flex;
  margin: 10px;
}

.social-element {
  margin:0 10px;
}

.footer__phrase {
  margin:10px;
}

.copyright {
  margin:10px;
}
