@import 'core/settings';
@import 'core/links';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/main';
@import 'partials/footer';

//general SCSS
* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
	margin: 0;
}

body {
  width: 100vw;
}
