@import 'core/variables';
@import 'core/settings';
@import 'core/links';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/main';

@import 'partials/main-prices';
@import 'partials/main-methodology';
@import 'partials/main-schedule';
@import 'partials/main-contact';


@import 'partials/footer';
@import 'partials/know-me-bio';
@import 'partials/know-me-reviews';
@import 'partials/know-me-photos';

//general SCSS
* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
	margin: 0;
}

body {
  width: 100vw;
}

.page__main {
  margin:0 30px;
  color:$text-base;
  text-align: center;
}
