<footer class="page__footer">
  <div class="social-media">
  <ul class="social-media-list">
    <li class="social-element"><a href="#" class="link_mail"><i class="fas fa-envelope"></i></a></li>
    <li class="social-element"><a href="#" class="link_face"><i class="fab fa-facebook-square"></i></a></li>
    <li class="social-element"><a href="#" class="link_google"><i class="fab fa-google-plus-square"></i></a></li>
    <li class="social-element"><a href="#" class="link_twitter"><i class="fab fa-twitter-square"></i></a></li>
  </ul>
  </div>
  <p class="footer__phrase">WE <span class="footer__heart">︎❤</span> ENGLISH</p>
  <span class="copyright">©2019</span>
</footer>
