<footer class="page__footer">

  <div class="footer__socialmedia-container">

      <a target="_blank" href="https://www.facebook.com/English-Homeland-Santiago-de-Compostela-329970374448024/?__tn__=%2Cd%3C*F-R&eid=ARBSdg1_yU4Yvzbu1mbrAxJKX_Mk9vTiBomREIdXRdArAYdDQvItnhpej9YmEgY4XSezoPYNl4Kz5yx-&hc_ref=ARRnyfDvdFe8yGtzBFjUBHQJ7ecDJwHq65AsFavwrQi38gKXtchUHV1Wwu0gPvK9XVA" class="socialmedia__link"><i class="fab fa-facebook-f footer_icon"></i></a>

      <a target="_blank" href="" class="socialmedia__link"> <i class="fab fa-twitter footer_icon"></i></a>

      <a target="_blank" href="" class="socialmedia__link"><i class="fab fa-linkedin-in footer_icon"></i></a>

      <a target="_blank" href="" class="socialmedia__link"> <i class="fab fa-instagram footer_icon"></i></a>

      <a href="" class="socialmedia__link"><i class="fab fa-skype footer_icon"></i></a>

      <a href="" class="socialmedia__link">      <i class="fab fa-whatsapp footer_icon"></i></a>

  </div>

  <p class="footer__phrase">WE <span class="footer__heart">︎❤</span> ENGLISH</p>
  <p class="footer_copyright">Web created by Andreina Romero © 2019</p>

</footer>
