<header>
  <div class="container">
    <img src="" alt="english homeland" class="logo">
    <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="nav-list__element">Servicios y precios</li>
          <li class="nav-list__element">Conóceme</li>
          <li class="nav-list__element">Metodología</li>
        <li class="nav-list__element">Contacto</li>
        <li class="nav-list__element">Horarios</li>
      </ul>
    </nav>
  </div>
  <h1 class="header__title">ENGLISH HOMELAND</h1>
</header>
