<header class= page__header>
  <div class="header__container">
    <img src="assets/images/logo.png" alt="Company Logo" class="header__logo">
    <img src="assets/images/logoname.png" alt="English Homeland on pink color like company name" class="header__logo-name">
    <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="nav-list__element"><a href="#">Servicios y precios</a></li>
          <li class="nav-list__element"><a href="#">Metodología</a></li>
          <li class="nav-list__element"><a href="#">Conóceme</a></li>
          <li class="nav-list__element"><a href="#">Horarios</a></li>
          <li class="nav-list__element"><a href="#">Vídeos</a></li>
      </ul>
      <a href="#" class="burguer-menu">
        <i class="fa fa-bars"></i>
      </a>
      <button class="btn__contact-me">Contáctame</button>
    </nav>
  </div>
</header>
