<header class= page__header>
  <div class="header__container">
    <div class="logo__container">
      <img src="assets/images/logo-academia.png" alt="Company Logo" class="header__logo">
      <img src="assets/images/logoname.png" alt="English Homeland on pink color like company name" class="header__logo-name">
    </div>

    <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="nav-list__element">
            <a class="nav-list__link" href="index.html#prices__anchor">Servicios y precios</a>
          </li>

          <li class="nav-list__element">
            <a class="nav-list__link" href="index.html#method__anchor">Metodología</a>
          </li>

          <li class="nav-list__element">
            <a target="_blank" class="nav-list__link" href="know-me.html">Conóceme</a>
          </li>

          <li class="nav-list__element">
            <a class="nav-list__link" href="index.html#schedule__anchor">Horarios</a>
          </li>

          <li class="nav-list__element">
            <a class="nav-list__link" href="#">Vídeos</a>
          </li>

          <li class="nav-list__element">
            <a class="nav-list__link contact-btn" href="index.html#contact__anchor">Contáctame</a>
          </li>
      </ul>
    </nav>

    <a href="#" class="burguer-menu">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
