<div class="hero__container">

  <section class="hero__information">
  <h1 class="hero__title">Inglés a tu medida para alcanzar tus metas</h1>

  <p class="hero__description">
      Clases de inglés para adultos y niños en Santiago
  </p>

  <p class="hero__phrase">
      Te ayudamos a obtener el certificado oficial que desees
  </p>

  <p class="certificates">
      | A2, B1, B2, C1 de Cambridge
      | Trinity Exams
      | Aptis
      | Bulats
      | Toefl Exam
      | LELTS Exam
      | Otros
  </p>

  <a class="btn-reserva" href="#">Reservatu clase</a>
</section>

<section class="hero__decoration">
</section>
</div>
