<div class="hero__container">

  <section class="section-hero__information">

  <h1 class="hero__title">Inglés a tu medida para alcanzar tus metas</h1>

  <p class="hero__description">
      Clases de inglés para adultos y niños en Santiago
  </p>

  <p class="hero__phrase">
    Te ayudamos a obtener el certificado oficial que desees:
  </p>


  <ul class="certificates-list">

    <li class="certificates"><span class="span-blue">|</span> A2, B1, B2, C1 de Cambridge</li>
    <li class="certificates"><span class="span-pink">|</span> Trinity Exams</li>
    <li class="certificates"><span class="span-yellow">|</span> Aptis</li>
    <li class="certificates"> <span class="span-blue">|</span> Bulats</li>
    <li class="certificates"><span class="span-pink">|</span> Toefl Exam</li>
    <li class="certificates"><span class="span-yellow">|</span> LELTS Exam</li>
    <li class="certificates"><span class="span-blue">|</span> Otros</li>
  </ul>

  <a class="btn-reserva vert-move" href="#">Reserva tu clase</a>
</section>

<section class="section-hero__decoration">
  <div class="hero__images-container">
  <img src="assets/images/blob-shape.svg" alt="" class="hero__blob">
  <img src="assets/images/celebration1.svg" alt="" class="hero__image">
</div>
</section>
</div>
