<div class="know-me__photos-container">

  <h1 class="know-me__photos-title">Do you want to start?</h1>

    <div class="academy-photos-wrapper">
      <img src="./assets/images/photo1.jpeg" alt="Foto de aula de la academia" class="academy-photo-img photo1 ">
      <img src="./assets/images/photo2.jpeg" alt="Foto de aula de la academia" class="academy-photo-img photo2">
      <img src="./assets/images/photo3.jpeg" alt="Foto de aula de la academia" class="academy-photo-img photo3">
    </div>


</div>
