<section class="know-me__reviews">
  <h1 class="know__reviews__title">Reseñas</h1>
  <img src="./assets/images/review1.png" alt="" class="know__reviews__image review1">
  <img src="./assets/images/review2.png" alt="" class="know__reviews__image review2">
  <img src="./assets/images/review3.png" alt="" class="know__reviews__image review3">
  <img src="./assets/images/review4.png" alt="" class="know__reviews__image review4">

  <a target="_blank" class="btn-more-reviews vert-move" href="https://www.tusclasesparticulares.com/profesores/maria-escaris-tome/opiniones">Ver más reseñas</a>
</section>
