<section class="know-me-bio-section">

  <div class="know__images-container">
      <img src="assets/images/blob-shape.svg" alt="" class="know__blob">
      <img clas="know__photo" src="/images/happy.svg" alt="">
  </div>

  <div class="know__text-container">
    <h1 class="know__title">Conóceme</h1>
    <p class="know-paragraph">Me gradué en Grado en Lenguas & Literaturas Inglesas en la Universidad de Santiago de Compostela en el año 2013, desde muy pequeña siempre he estado en contacto con la lengua inglesa y siempre he tenido devoción por la enseñanza. He vivido en el extranjero y allí pude mejorar mis capacidades en todos los ámbitos del idioma y adquirir una competencia 100% bilingüe. Tras vivir en el extranjero cursé el Máster Universitario en Profesorado de Educación Secundaria para poder dedicarme completamente a la enseñanza y así ver cumplido mi sueño. He estado enseñando lengua inglesa durante más de 5 años y espero hacerlo durante el resto de mi carrera profesional, creciendo como persona y docente junto con mis alumnos/as.
      </p>
  </div>

</section>
