<section class="know-me-bio-section">

  <div class="know__images-container">
      <img src="assets/images/blob-shape.svg" alt="Imagen de una ameba rosa decorativa de fondo" class="know__blob">
      <img class="know__photo vert-move" src="./assets/images/maria2.jpeg" alt="Foto personal de la profesora">
  </div>

  <div class="know__text-container">
    <h1 class="know__title">Conóceme</h1>
    <p class="know-paragraph">Me gradué en <strong>Grado en Lenguas & Literaturas Inglesas</strong> en la Universidad de Santiago de Compostela en el año 2013, desde muy pequeña siempre he estado en contacto con la lengua inglesa y siempre he tenido devoción por la enseñanza. He vivido en el extranjero y allí pude mejorar mis capacidades en todos los ámbitos del idioma y adquirir una competencia <strong>100% bilingüe</strong>. Tras vivir en el extranjero cursé el Máster Universitario en Profesorado de Educación Secundaria para poder dedicarme completamente a la enseñanza y así ver cumplido mi sueño. He estado enseñando lengua inglesa durante <strong>más de 5 años</strong> y espero hacerlo durante el resto de mi carrera profesional, creciendo como persona y docente junto con mis alumnos/as.
      </p>
  </div>

</section>
