<div class="page__main">

<section class="main__section-prices">
  <h2 class="section-prices__title">Elige tu plan de estudio</h2>
  <p class="section-prices__pharagraph">No importa que partas de cero, ya que adaptaremos la metodología a emplear de acuerdo a tu nivel.</p>

<div class="main__cards-container">

  <div class="section__card card1">
    <div class="card__content">
      <h3 class="card__title">CLASES INDIVIDUALES</h3>
      <p class="card__description">Clases 100% individuales adaptadas a lo que necesites.</p>
      <h4 class="card__price">12 € / hora</h4>
      <p class="card__ad-info">Muy recomendado</p>
    </div>
  </div>

  <div class="section__card card2">
      <div class="card__content">
          <h3 class="card__title">CLASES GRUPALES REDUCIDAS</h3>
          <p class="card__description">Con un máximo de 4 alumnos.</p>
          <h4 class="card__price">10 € / hora</h4>
          <p class="card__ad-info">Recomendado</p>
      </div>
  </div>



  <div class="section__card card3">
      <div class="card__content">
          <h3 class="card__title">CLASES GRUPALES</h3>
          <p class="card__description">Clases grupales a partir de 5 alumnos.</p>
          <h4 class="card__price">8 € / hora</h4>
          <p class="card__ad-info">Ver horarios</p>
      </div>
  </div>


  <div class="section__card card4">
      <div class="card__content">
          <h3 class="card__title">CLASES PARA NIÑOS</h3>
          <p class="card__description">Clases para los más pequeños a partir de 4 años con juegos y materiales visuales</p>
          <h4 class="card__price">12 € / hora</h4>
          <p class="card__ad-info">Muy recomendado</p>
      </div>
  </div>


</div>

</section>

<section class="main__section-methodology">
    <h2 class="section-method__title">Metodología</h2>
    <p class="section-method__paragraph">
      English Homeland se adapta a tu nivel y necesidades específicas en cuanto a el proceso de aprendizaje del idioma. Adaptaremos nuestra metodología  a tu nivel.
    </p>

    <div class="section-method__container">

      <div class="section-method__element element1">
        <img src="startup.svg" alt="" class="method-element__icon">
        <div class="method-element__text">
            <h4 class="method-element__title">100% EN INGLÉS</h4>
            <p class="method-element__description">Las clases se realizan en su <strong>total</strong> integridad en inglés. Incluso si decides recibirlas por Skype.</p>
        </div>
      </div>


      <div class="section-method__element element2">
          <img src="solution.svg" alt="" class="method-element__icon">
          <div class="method-element__text">
              <h4 class="method-element__title">COMPETENCIAS</h4>
              <p class="method-element__description">Damos muchísima importancia a la:
                </br>
              </br>* <strong>expresión oral</strong>
              </br>* <strong>comprensión auditiva</strong>
              </br>* comprensión lectora
              </br>* expresión escrita</p>
          </div>
      </div>
      <div class="section-method__element element3">
          <img src="teamwork.svg" alt="" class="method-element__icon">
          <div class="method-element__text">
              <h4 class="method-element__title">100% PARTICIPATIVO</h4>
              <p class="method-element__description">Queremos que nuestros alumnos se <strong>expresen</strong> con comodidad, proporcionando un ambiente óptimo para sentirse seguros y <strong>libres</strong> de participar.</p>
          </div>
      </div>
      <div class="section-method__element element4">
          <img src="profits.svg" alt="" class="method-element__icon">
          <div class="method-element__text">
              <h4 class="method-element__title">GRUPOS REDUCIDOS</h4>
              <p class="method-element__description">Aprendizaje 100% aprovechado mediante grupos reducidos, lo que fomenta el conocimiento mutuo, y del lenguaje más <strong> amplio y natural.</strong></p>
          </div>
      </div>
      <div class="section-method__element element5">
          <img src="project.svg" alt="" class="method-element__icon">
          <div class="method-element__text">
              <h4 class="method-element__title">MATERIALES</h4>
              <p class="method-element__description">Partiremos de <strong>materiales propios</strong>, que siempre proporcionaremos en cada clase a todos nuestros alumnos. </p>
          </div>
      </div>
      <div class="section-method__element element6">
          <img src="leadership.svg" alt="" class="method-element__icon">
          <div class="method-element__text">
              <h4 class="method-element__title">LEARNING BY DOING</h4>
              <p class="method-element__description">Usamos <strong>juegos y materiales visuales</strong>, especialmente para nuestros alumnos más pequeños, que aprenden bajo el método <strong>“Aprender Haciendo”</strong>.</p>
          </div>
      </div>

    </div>

</section>



<section class="main__section-schedule">
  <div class="schedule__container">
    <h2 class="section-schedule__title">Horarios</h2>
    <p>Disponibilidad incluso los fines de semana</p>


    <div class="schedule__card">
        <img class="schedule__card_icon pulse" src="clock.svg" alt="reloj">
        <h3>De 9:00 am a 22:00 pm</h3>
    </div>

  </div>
</section>



<section class="main__section-contact">
    <h2 class="section-contact__title">Contacto</h2>
</section>
</div>
