<section class="main__section-contact">

    <div class="contact__container">
      <div class="contact__information">

        <div class="contact__info-logo">
          <img class="logo-image" src="assets/images/logo.png" alt="English Homeland Academy logo">
        </div>

        <div class="contact__information-text">
          <h2 class="section-contact__title">Contacto</h2>
          <p>Si has llegado hasta aquí y aun tienes preguntas, no dudes en contactar, estaré encantada de ayudarte a alcanzar tus metas respecto al idioma.</p>

          <ul class="contact__information-list">

            <li class="contact__information_item">
              <i class="fas fa-envelope"></i>
              <div>
                <p class="contact__information_item_label">Email</p>
                <p class="contact__information_item_value">mariaescaristome@hotmail.com</p>
              </div>
            </li>

            <li class="contact__information_item">
              <i class="fas fa-mobile-alt"></i>
              <div>
                <p class="contact__information_item_label">Teléfono</p>
                <p class="contact__information_item_value">605316938</p>
              </div>
            </li>

            <li class="contact__information_item">
              <i class="fas fa-map-marker-alt"></i>
              <div>
                <p class="contact__information_item_label">Dirección</p>
                <p class="contact__information_item_value">Rúa das Trompas 9 Bajo Derecha 15703</p>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="contact__map">
        <div class="gmaps_frame__map"></div>
      </div>

    </div>
  </section>

</div>
