<section id="prices__anchor" class="main__section-prices">
    <h2 class="section-prices__title">Elige tu plan de estudio</h2>
    <p class="section-prices__pharagraph">No importa que partas de cero, ya que adaptaremos la metodología a emplear de acuerdo a tu nivel.</p>

  <div class="main__cards-container">

    <div class="section__card card1">
      <div class="card__content">
        <h3 class="card__title">CLASES INDIVIDUALES</h3>
        <p class="card__description">Clases 100% individuales adaptadas a lo que necesites.</p>
        <h4 class="card__price">12 € / hora</h4>
        <p class="card__ad-info">Muy recomendado</p>
      </div>
    </div>

    <div class="section__card card2">
        <div class="card__content">
            <h3 class="card__title">CLASES GRUPALES REDUCIDAS</h3>
            <p class="card__description">Con un máximo de 4 alumnos.</p>
            <h4 class="card__price">10 € / hora</h4>
            <p class="card__ad-info">Recomendado</p>
        </div>
    </div>


    <div class="section__card card3">
        <div class="card__content">
            <h3 class="card__title">CLASES GRUPALES</h3>
            <p class="card__description">Clases grupales a partir de 5 alumnos.</p>
            <h4 class="card__price">8 € / hora</h4>
            <p class="card__ad-info">Ver horarios</p>
        </div>
    </div>

    <div class="section__card card4">
        <div class="card__content">
            <h3 class="card__title">CLASES PARA NIÑOS</h3>
            <p class="card__description">Clases para los más pequeños a partir de 4 años con juegos y materiales visuales</p>
            <h4 class="card__price">12 € / hora</h4>
            <p class="card__ad-info">Muy recomendado</p>
        </div>
    </div>

  </div>
</section>
