<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <meta property="og:title" content="English Homeland" />
  <meta property="og:image" content="https://english-homeland.es/assets/images/capture.png"
  />
  <meta property="og:description" content="Página web de academia de inglés inspirada en un logotipo proporcionado por el cliente. Utilicé HTML, JS, CSS, Gulp y Sass. Para el diseño usé Adobe XD y Zeplin."
  />
  <meta property="og:url" content="https://english-homeland.es/index.html"
  />


  <title>🇬🇧English Homeland</title>
  <script src="https://kit.fontawesome.com/af3dab66f1.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_hero.html" label="Hero"></partial>


      <div class="page__main">
        <partial src="_main-prices.html" label="Main"></partial>
        <partial src="_main-methodology.html" label="Main"></partial>
        <partial src="_main-schedule.html" label="Main"></partial>
        <partial src="_main-contact.html" label="Main"></partial>
    </div>
    <partial src="_footer.html" label="Footer"></partial>

  </div>

  <script src="assets/js/main.js"></script>
  <!-- production -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw2i0V_DzVc3NuVDR08_oRngWRsRFppms&callback=initMap">
  </script>

  <!-- enable on testing -->
  <!--<script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
  </script>-->
</body>
</html>
