<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🇬🇧English Homeland</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_hero.html" label="Hero"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
