<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🇬🇧English Homeland</title>
  <script src="https://kit.fontawesome.com/af3dab66f1.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
    <partial src="_services.html" label="Services"></partial>
    <partial src="_know-me.html" label="Services"></partial>
    <partial src="_services.html" label="Services"></partial>
    <partial src="_methodology.html" label="Methodology"></partial>
    <partial src="_contact.html" label="Contact"></partial>
    <partial src="_schedule.html" label="Schedule"></partial>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
