<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🇬🇧English Homeland</title>
  <script src="https://kit.fontawesome.com/af3dab66f1.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <partial src="_header.html" label="Header"></partial>
    <partial src="_know-me-bio.html" label="Header"></partial>
    <partial src="_know-me-reviews.html" label="Header"></partial>
    <partial src="_know-me-photos.html" label="Header"></partial>
    <partial src="_main-contact.html" label="Main-contact"></partial>
    <partial src="_footer.html" label="Footer"></partial>

  <script src="assets/js/main.js"></script>
  <!-- production
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw2i0V_DzVc3NuVDR08_oRngWRsRFppms&callback=initMap">
  </script> -->

  <!-- enable on testing -->
 <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
  </script>
</body>
</html>
