//backgrounds colors
$base-color: #f36b7f;
$icon-color: rgb(155, 161, 172);
$yellow-light:  rgba(255, 176, 58, 0.4);
$green-light: #82b5a5;
$pink-light: rgba(243, 107, 127, 0.4);
$blue-light: rgba(159, 191, 255, 0.4);
$white: white;
$pink-hover: #F2B4BD;
$blue-hover:#799BE0;

//font colors
$text-base:#5f5658;
$contact-font: #504648;
$text-blue: #9FBFFF;
$text-btn:#433f3f;
$burguer-color:$blue-hover;

//text-size
$font-size: 12px;
$title-size: 20px;
